/target
/dist
/out
*.jar
*.class
/.lein-*
/.nrepl-*
.DS_Store
log
.rebel_readline_history
resources/public/css/app.*
resources/public/js/app.js*
resources/public/js/out
resources/private
resources/node_modules/**
node_modules
doo-index.html
