/target
/dist
/out
*.jar
*.class
/.lein-*
/.nrepl-*
.DS_Store
log
.rebel_readline_history
resources/public/css
resources/public/js
resources/private
resources/node_modules/**
node_modules
doo-index.html
