/target
/dist
/out
/tmp
*.jar
*.class
/.lein-*
/.nrepl-*
.DS_Store
log
.rebel_readline_history
resources/private
resources/node_modules/**
node_modules
doo-index.html
dev/resources/config.edn
.clj-kondo/.cache
