@import "mixins";
@import "viewer";
@import "settings";

body {
  background-color: #F7F7F7;
}

.page {
  padding-top: 40px;

  > .ui.container {
    padding-top: 30px;
  }

  h2.app.header {
    color: #307db7;
    border-bottom: 2px solid rgba(48, 125, 183, 0.18);
    margin-bottom: .7em;
    font-size: 1.5rem;
  }
}

.ui.checkbox label { cursor: pointer; }
