#cube-view {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;

  @gutter: 10px;

  .left-column, .center-column, .right-column {
    display: flex;
    flex-direction: column;
    margin: @gutter;
  }
  .left-column, .right-column {
    width: 250px;
  }
  .center-column {
    flex: 1;
    margin: @gutter 0;
  }

  @panel-separator: 1px solid #f0f0f0;
  @panel-horizontal-padding: 14px;

  .panel {
    background-color: white;
    margin: 0;
    padding: 0;
    &:not(:last-child) { border-bottom: @panel-separator; }
    &:first-child { .border-radiuses(3px, 0, 0, 3px); }
    &:last-child { .border-radiuses(0, 3px, 3px, 0); }
    .box-shadow(0px 4px 15px 0px rgba(0,0,0,0.1));

    .sub.header {
      .dimmed;
      font-weight: normal;
      padding: 12px @panel-horizontal-padding;
      margin: 0;
      position: relative;
      .actions {
        position: absolute;
        top: 12px;
        right: @panel-horizontal-padding;
        text-transform: none;
        font-size: 110%;
        .icon.dropdown {
          margin-left: 7px;
        }
        .icon:not(.dropdown) {
          margin: 0 -4px 0 8px;
          &:hover { color: #777; }
        }
        .ellipsis + .menu { right: -10px; } // Aparecía medio descolgado hacia la izquierda sino
      }
    }

    // Necesario para que los items muestren el scroll al overflowear
    display: flex;
    flex-direction: column;

    &.loading { color: inherit !important; } // Semantic le pone un color transparent y hace que no se vea el texto que queda debajo del loading
    .items {
      overflow-y: auto;
      .overflow-shadow;
      .item {
        padding: 5px @panel-horizontal-padding;
        .icon {
          color: #ccc;
          margin-right: 7px;
        }
        #cube-view .selectable;
      }
      .popup {
        padding: 0;
      }
    }

    .search.input {
      margin: 0 (@panel-horizontal-padding - 1px) .7em;
      flex-shrink: 0;
    }
  }

  .dimensions { flex: 71 1 0%; }
  .measures { flex: 29 1 0%; }
  .dimensions, .measures { padding-bottom: 8px; }

  .filter, .split {
    flex-direction: row;
    align-items: center;
    h2 { width: 67px; }

    @content-width: 230px;

    .popup .time-filter {
      width: @content-width;
      .relative.period-type {
        .periods {
          margin-bottom: .7em;

          .sub.header {
            padding: 0;
            padding-bottom: .2em;
          }

          .button {
            padding: 10px 0;
          }
        }
        .ui.label {
          width: 100%;
          text-align: center;
          margin: .5em 0 .4em 0;
        }
      }
    }

    .popup .normal-filter {
      width: @content-width;
      .top-inputs {
        display: flex;
        .ui.input {
          height: 29px;
          margin-left: .3em;
          input { padding-left: .7em }
        }
        .icon { line-height: 0.9 }
      }
      .items-container {
        position: relative;
        margin: .7em -1em 1em -1em;
        .overflow-shadow;
        padding-bottom: 1px; // Sino se producía es como que quedaba un px de texto a veces x arriba de la sombra
      }
      .items {
        max-height: 300px;
        .item {
          padding: 7px 1em;
          .ui.checkbox {
            display: block;
          }
          label {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }

    .popup .ui.form {
      width: @content-width;
      .flex {
        display: flex;
        .button {
          margin: 0;
          margin-left: .5em
        }
      }
    }

    .button {
      .details {
        font-weight: 100;
        color: rgba(255, 255, 255, 0.8);
        &.striked { text-decoration: line-through; }
      }
    }
  }

  // TODO faltaria agregarle el overflow-shadow y dejar fijo el header al scrollear
  .visualization {
    flex: 1;
    margin-top: @gutter;
    padding: 10px;
    overflow-y: auto;
    .icon-hint, .statistics { padding: 40px }
    .statistics {
      justify-content: center;
      margin: 0;
    }
    .pivot-table {
      th:first-child, td:first-child { padding-left: 0.5em }
      th:last-child, td:last-child { padding-right: 0.5em }
      thead {
        th {
          cursor: pointer;
          .icon { margin-right: 0; }
          span + .icon, .icon + span { margin-left: .25rem; }
        }
      }
      tbody tr {
        #cube-view .selectable;
        opacity: .999;
        td {
          position: relative;

          .bg {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(187, 181, 0, 0.12);
            z-index: -1;
          }

          .generate-depths(@i) when (@i > 0) {
            .generate-depths(@i - 1);
            .depth-@{i} { margin-left: (@i * 1.5em); }
          }
          .generate-depths(5);
        }
      }
    }
  }

  .pinboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    .panel {
      &.no-pinned {
        align-items: center;
        justify-content: center;
        height: 250px;
        padding: @panel-horizontal-padding;
        .icon-hint { margin-top: -1em }
      }
      .items.empty { height: 100px; }
      .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .segment-value {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-right: 10px;
        }
        &.no-results {
          font-style: italic;
          .dimmed;
        }
      }
      &.dimension { flex: 1; }
    }
  }

  .ui.checkbox label { cursor: pointer; }

  .selectable {
    &:hover {
      background-color: #f7f7f7;
      cursor: pointer;
      .icon { color: black; }
    }
    &.active {
      background-color: #dcdcdc;
      .icon { color: black; }
    }
  }

  .icon-hint {
    color: #ccc;
    text-align: center;
    .icon {
      line-height: 1;
      font-size: 3em;
      margin-bottom: 7px;
    }
    .text {
      font-style: italic;
      font-weight: normal;
      font-size: 12pt;
    }
  }
}
