#cube-view {
  @lateral-col-width: 250px;
  @panel-separator: 1px solid #f0f0f0;
  @panel-horizontal-padding: 14px;

  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;

  .left-column, .center-column, .right-column {
    top: 0;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    .zone {
      background-color: white;
      .border-radius(3px);
      .box-shadow(0px 0px 15px 0px rgba(0,0,0,0.1));
      .sub.header {
        .dimmed;
        font-weight: normal;
        padding: 12px @panel-horizontal-padding;
        margin: 0;
        position: relative;
        .actions {
          position: absolute;
          top: 12px;
          right: @panel-horizontal-padding;
          text-transform: none;
          font-size: 110%;
          .icon {
            margin: 0;
            margin-left: 5px;
          }
          .large.icon {
            margin-right: -4px;
            margin-top: -2px;
            color: #e0e0e0;
            &:hover { color: #777; }
          }
          .ellipsis + .menu { right: -10px; } // Aparecía medio descolgado hacia la izquierda sino
        }
      }
    }
    .panel {
      padding: 0;
      margin: 0;
      &.loading { color: inherit !important; } // Semantic le pone un color transparent y hace que no se vea el texto que queda debajo del loading
      .items {
        overflow-y: auto;
        padding-bottom: 8px;
        .item {
          padding: 5px @panel-horizontal-padding;
          .icon {
            color: #ccc;
            margin-right: 7px;
          }
          #cube-view .selectable;
        }
        .popup {
          padding: 0;
        }
      }
    }
  }
  .left-column {
    width: @lateral-col-width;
    left: 0;
  }
  .center-column {
    left: @lateral-col-width + 2px;
    right: @lateral-col-width + 2px;
    padding-left: 0;
    padding-right: 0;
  }
  .right-column {
    width: @lateral-col-width;
    right: 0px;
  }

  .left-column, .right-column {
    .panel {
      &:not(.loading):after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        pointer-events: none;
        .box-shadow(inset 0 -20px 10px -10px #fff);
      }
    }
  }

  .icon-hint {
    color: #ccc;
    text-align: center;
    .icon {
      line-height: 1;
      font-size: 3em;
      margin-bottom: 7px;
    }
    .text {
      font-style: italic;
      font-weight: normal;
      font-size: 12pt;
    }
  }

  .dimensions-measures {
    display: flex;
    flex-direction: column;
    height: 100%;
    .dimensions {
      flex: 71 1 0%;
      border-bottom: @panel-separator;
    }
    .measures { flex: 29 1 0%; }
    .dimensions, .measures {
      display: flex;
      flex-direction: column;
    }
  }

  .panel.filter, .panel.split {
    border-bottom: @panel-separator;
    display: flex;
    flex-direction: row;
    align-items: center;
    h2 { width: 67px; }
    @content-width: 230px;

    .popup .time-filter {
      .period-type { width: @content-width; }
      .relative.period-type {
        .periods {
          margin-bottom: .7em;

          .sub.header {
            padding: 0;
            padding-bottom: .2em;
          }

          .button {
            padding: 10px 0;
          }
        }
        .ui.label {
          width: 100%;
          text-align: center;
          margin: .5em 0 .4em 0;
        }
      }
    }

    .popup .ui.form {
      width: @content-width;
      .flex {
        display: flex;
        .button {
          margin: 0;
          margin-left: .5em
        }
      }
    }
  }

  .panel.visualization {
    overflow-y: auto;
    flex: 1;
    margin-top: 10px;
    padding: 10px 15px;
    .icon-hint, .statistics { padding: 40px }
    .statistics {
      justify-content: center;
      margin: 0;
    }
    .pivot-table {
      th:first-child, td:first-child { padding-left: 0.5em }
      th:last-child, td:last-child { padding-right: 0.5em }
      thead {
        th {
          cursor: pointer;
          .icon { margin-right: 0; }
          span + .icon, .icon + span { margin-left: .25rem; }
        }
      }
      tbody tr {
        #cube-view .selectable;
        opacity: .999;
        td {
          position: relative;

          .bg {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(187, 181, 0, 0.12);
            z-index: -1;
          }

          .generate-depths(@i) when (@i > 0) {
            .generate-depths(@i - 1);
            .depth-@{i} { margin-left: (@i * 1.5em); }
          }
          .generate-depths(5);
        }
      }
    }
  }

  .pinboard {
    display: flex;
    flex-direction: column;
    .panel {
      border-top: @panel-separator;
      display: flex;
      flex-direction: column;
      &.no-pinned {
        align-items: center;
        justify-content: center;
        height: @lateral-col-width;
        padding: @panel-horizontal-padding;
        .icon-hint { margin-top: -1em }
      }
      .items.empty { height: 100px; }
      .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .segment-value {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-right: 10px;
        }
      }
    }
  }

  .ui.checkbox label { cursor: pointer; }

  .selectable {
    &:hover {
      background-color: #f7f7f7;
      cursor: pointer;
      .icon { color: black; }
    }
    &.active {
      background-color: #dcdcdc;
      .icon { color: black; }
    }
  }
}
