#dashboard {
  .cube.card {
    .header { margin-bottom: .2em }
  }
  .report.card {
    .content:first-child {
      flex-grow: 0;
    }
    .visualization {
      max-height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .overflow-shadow;
  }
}
