#dashboard {
  .body { padding: .3em }

  .panel {
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    .panel-header {
      cursor: move;
    }

    .panel-content {
      overflow: auto;
      .statistics { padding: 0 }
    }
  }

  .react-draggable {
    border: 2px solid @background-color;
    &.react-draggable-dragging, &.resizing { border-color: fade(@secondary-color, 70%); }
  }

  .react-grid-placeholder {
    z-index: -1; // By default sits on top
    background: @secondary-color;
  }

  // Removes the initial animation
  .react-grid-item.cssTransforms { transition-property: none; }
  .animated .react-grid-item.cssTransforms { transition-property: transform; }
}
