#dashboard {
  .panel {
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;

    .panel-header {
      cursor: move;
      &:hover { background-color: #faffe0 }
    }

    .panel-content {
      overflow: auto;
      .statistics { padding: 0 }
    }
  }

  .react-draggable {
    border: 2px solid @background-color;
    &.react-draggable-dragging, &.resizing { border-color: #ff7f17; }
  }

  // Removes the initial animation
  .react-grid-item.cssTransforms { transition-property: none; }
  .animated .react-grid-item.cssTransforms { transition-property: transform; }

  // By default its on top
  .react-grid-placeholder { z-index: -1; }
}
