#home {
  .column {
    position: relative;
    .actions {
      position: absolute;
      right: 1.5rem;
      top: 0;
      .button { margin-right: 0 }
    }
    .card {
      .header {
        .icon { margin-right: .4rem }
      }
      .item-actions {
        .icon {
          margin: 0 0 0 .25rem;
          color: rgba(0,0,0,.3);
          &:hover { color: black }
          &.trash:active { color: #d41c1c; }
        }
      }
      .description + .meta { margin-top: .5em }
    }
    .tip { margin-top: 1em }
    .loader { margin-top: 2em }
  }
}
