@background-color: #F7F7F7;

body {
  background-color: @background-color;
}

.layout {
  display: flex;

  #sidebar {
    display: flex;
    &:not(.compact) {
      .box-shadow(0 0 15px 0 rgba(0, 0, 0, 0.3));
    }
    &.compact {
      background: transparent
    }
    .top.divider { height: 3.85em }
    .middle.divider { flex: 1 }
    .bottom.divider { height: 1em; padding: 0 }
    .item {
      padding: 1.3em;
      color: #ffffffdd;
    }
    .item > i { font-size: 1.4em }

    .profile {
      padding: 9px;
      .user-avatar { width: 40px; }
    }
  }
  #sidebar:not(.compact) + .page {
    margin-left: 59px;
  }

  .page {
    flex: 1;
    .page-title {
      padding: 2em;
      padding-bottom: 1.7em;
      border-bottom: .5em solid #0c6ab1;
      margin-bottom: 3em;
    }
    .page-footer {
      padding: 1rem;
    }
  }
}

.preloader { pointer-events: none; } // So acceptance test can click through

#reports-popup, #cubes-popup, #dashboards-popup, #settings-popup {
  width: 300px;
  .actions {
    float: right;
    .button:last-child { margin-right: 0 }
  }
  .ui.header {
    margin-top: 0;
    margin-bottom: 1em;
    &.has-actions { margin-bottom: 2em }
  }
  .ui.list {
    max-height: 400px;
    overflow-y: auto;
    padding: 0 1em 1em 1em;
    margin: 0 -1em -1em -1em;
    .item {
      margin: 0 -.5em;
      padding: .5em;
      .border-radius(.5em) !important;
      &:last-child { margin-bottom: -.3em }
      .middle.aligned.icon { color: black }
      .content { padding-left: .3em }
      .right.content {
        .muted;
        font-size: .9em;
        .item-actions {
          .icon:hover { color: black }
          .icon:last-child { margin-right: 0; }
          .trash.icon:active { color: #d41c1c; }
        }
      }
      .description { margin-top: .1em }
    }
  }
}

#settings-popup {
  width: 230px;
  .fluid.button { margin-top: .4em }
}

.app-error.modal {
  .content, .actions { text-align: center }
}

.ui.table {
  td.actions {
    white-space: nowrap;
    text-align: center;
    .ui.button {
      margin-left: 3px;
      margin-right: 3px;
      opacity: .7;
    }
  }
  tr:hover {
    .ui.button { opacity: 1 }
  }
}
