body {
  background-color: #F7F7F7;
}

.ui.fixed.menu {
  .icon.item {
    padding-left: 0.9em;
    padding-right: 0.9em;
  }
}

.page {
  padding-top: 40px;
  padding-bottom: 60px;

  > .ui.container {
    padding-top: 30px;
  }

  h2.app.header {
    color: #307db7;
    border-bottom: 2px solid rgba(48, 125, 183, 0.18);
    margin-bottom: .7em;
    font-size: 1.5rem;
  }
}

#reports-popup, #cubes-popup, #settings-popup {
  width: 300px;
  .actions {
    float: right;
    .button:last-child { margin-right: 0 }
  }
  .ui.header {
    margin-top: 0;
    margin-bottom: .8em; // when there are no results
    &.has-actions { margin-bottom: 2em }
  }
  .ui.list {
    margin-top: .8em;
    .item {
      margin: 0 -.5em;
      padding: .5em;
      .border-radius(.5em) !important;
      &:last-child { margin-bottom: -.3em }
      .middle.aligned.icon { color: black }
      .content { padding-left: .3em }
      .right.content {
        .muted;
        font-size: .9em;
        .cube { display: block; }
        .item-actions { display: none; }
      }
      &:hover {
        .right.content {
          .cube { display: none; }
          .item-actions {
            display: block;
            .icon:hover { color: black }
            .icon:last-child { margin-right: 0; }
            .icon.holding { color: #d41c1c; }
          }
        }
      }
      .description { margin-top: .1em }
    }
  }
}

#settings-popup {
  width: 230px;
  .fluid.button { margin-top: .4em }
}

#notification {
  position: fixed;
  bottom: 3em;
  transform: translate(-50%, 0);
  left: 50%;
  .box-shadow(0 0 0 1px #a3c293 inset, 0px 8px 36px -15px rgba(0, 0, 0, 0.75));
  &.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms linear;
  }
  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 250ms, opacity 250ms linear;
  }
  .message .icon { margin-right: .4em }
}
