.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.box-shadow (@shadow) {
	-webkit-box-shadow: @shadow;
	-moz-box-shadow:    @shadow;
	box-shadow:         @shadow;
}

.box-shadow (@shadow1, @shadow2) {
	-webkit-box-shadow: @shadow1, @shadow2;
	-moz-box-shadow:    @shadow1, @shadow2;
	box-shadow:         @shadow1, @shadow2;
}

.muted {
	color: rgba(0,0,0,.6);
}
.more.muted {
  color: #ccc;
}

.overflow-shadow {
	&:not(.loading)::after {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  content: '';
	  pointer-events: none;
	  .box-shadow(inset 0 -20px 10px -10px #fff);
  }
}

.ui.checkbox label { cursor: pointer; }

.tip {
	.muted;
	font-style: italic;
	&.large { font-size: 1.1em }
}

.selectable {
	&:hover {
		background-color: #f7f7f7;
		cursor: pointer;
		.icon:not(.question) { color: black; }
	}
	&.active {
		background-color: rgba(68, 93, 136, 0.09) !important;
		.icon:not(.question) { color: black; }
	}
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

.striked { text-decoration: line-through; }

.hide { display: none !important }
