.modal.raw-data {
  .content {
    height: calc(70vh);
    .subcontent, .loading { height: 100% }
    .table-container {
      overflow: auto;
      height: calc(100% - 2.5em);
    }
  }
  .measure {
    background-color: #eee;
    text-align: right;
  }
  .filter {
    font-style: italic;
  }
}
