#settings {
  section { margin-top: 2em; }
  .margin-bottom {
    margin-bottom: 1em;
  }
  .cube-details {
    position: relative;
    margin-bottom: 2em;
    .cube-fields {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      .header { margin: 0 }
      .form { margin-right: 16em }
    }
    .actions {
      position: absolute;
      right: 0;
    }
  }
}
