.virtual-table {
  display: flex;
  flex-direction: column;

  table {
    border-collapse: collapse;
    th, td {
      white-space: nowrap; // Prevents a glitch produced sometimes when scrolling and a cells tries to wrap its content
    }
  }

  .headers-area {
    overflow: hidden;
    flex-shrink: 0;
  }

  .scroll-area {
    overflow: auto;
  }
}
