#designer, #dashboard {
  .icon-hint {
    color: #ccc;
    text-align: center;
    .icon {
      line-height: 1;
      font-size: 3em;
      margin-bottom: 7px;
    }
    .text {
      font-style: italic;
      font-weight: normal;
      font-size: 12pt;
    }
  }

  .visualization {
    .ui.corner.label {
      border-color: #e8e8e873;
      margin-right: -@panel-horizontal-padding;
      margin-top: -@panel-horizontal-padding;
      z-index: -1;

      // Make the icon a little smaller
      i {
        font-size: 1em;
        top: .8em;
        left: .9em;
      }
    }

    .icon-hint, .statistics { padding: 40px }
    .statistics {
      justify-content: center;
      margin: 0;
    }

    .pivot-table {
      margin: 0;

      .content-table {
        width: 100%;

        td { text-overflow: ellipsis; }
      }

      th, td {
        white-space: nowrap;
        height: 34px; // Needed to be in sync with the row-height in the virtual-table component
        text-align: left;
        padding: .5em .7em;
        max-width: 30em;
        &.right.aligned { text-align: right }
      }
      th:first-child, td:first-child { padding-left: 0.5em; }
      th:last-child, td:last-child { padding-right: 0.5em }

      th, td { border-bottom: 1px solid rgba(34, 36, 38, .1); }
      tbody tr:last-child td { border-bottom: 0 }

      thead {
        th:not(.dim-value) {
          .icon { margin-right: 0; }
          span + .icon, .icon + span { margin-left: .25rem; }
        }
        th.dim-value { font-weight: normal }
      }

      tbody tr {
        opacity: .999;
        td {
          position: relative;
          .bg {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(187, 181, 0, 0.12);
            z-index: -1;
            &.neg { background-color: rgba(187, 69, 0, 0.12) }
          }
          .generate-depths(@i) when (@i > 0) {
            .generate-depths(@i - 1);
            .depth-@{i} { margin-left: (@i * 1.5em); }
          }
          .generate-depths(5);
        }

        &.subtotal td { font-weight: bold; }
      }

      .scroll-area {
        margin-right: -@panel-horizontal-padding;
        padding-right: @panel-horizontal-padding;
        margin-bottom: -@panel-horizontal-padding;
        padding-bottom: @panel-horizontal-padding;
      }
    }

    height: 100%;
    .charts { height: 100% }
    .chart-container {
      &:not(:last-child) { margin-bottom: 10px } // If you change this remember to adjust the set-chart-height chart function
      position: relative;
      width: 98%;
      canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    }
  }
}

#designer {
  .pivot-table {
    thead {
      th:not(.dim-value) {
        cursor: pointer;
      }
    }

    tbody tr {
      &:not(.grand-total) { .selectable };
    }
  }
}

.pivot-table-popup {
  .dimension-value {
    text-align: center;
    margin-bottom: 0.8em;
  }

  .buttons { white-space: nowrap; }
}
