{:env "test"
 :port 4100
 :nrepl-port 4101
 :druid-uri "http://localhost:4102"
 :mongodb-uri "mongodb://localhost/shevek-test"
 :session {:key "9you3altsufu84w5" :timeout 3600}
 :datasources-discovery-interval 0
 :time-boundary-update-interval 0
 :log {:level :debug
       :to "log/test.log"}
 :cubes []}
