{:env :test
 :port 4100
 :nrepl-port 4101
 :druid-uri "http://localhost:4102"
 :mongodb-uri "mongodb://localhost/shevek-test"
 :jwt-secret "bca6cbe12667824fe817a2fef73e1c2d3f2387859a08c549"
 :datasources-discovery-interval 0
 :time-boundary-update-interval 0
 :log {:to "log/test.log"}}
